layout pyenv 3.10.7

export FASTAPI_STATICDIGEST_RELOAD=1

export CACHE_URL=redis://localhost:6379/0
export DEBUG=1
export HOST=localhost
export STORAGE_URL=http://access-key:secret-key@localhost:9000/content
