{% extends "base.html" %}

{% block title %}{{ title }} :: Admin{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ title }} :: Admin" />
{% endblock %}

{% block css %}
{{ super() }}
<link
  href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css"
  rel="stylesheet"
/>
<style>
html {
  background-color: #eceff4;
}
</style>
{% endblock %}

{% block body %}
<div id="quill"></div>
<div id="app"></div>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/quill@1.3.7/dist/quill.min.js"></script>
<script src="https://unpkg.com/htm@3.1.1/preact/standalone.umd.js"></script>
<script src="{{ static_url_for('static', 'common.js') }}"></script>
<script src="{{ static_url_for('static', 'admin.js') }}"></script>
<script>
  const quill = editor({{ content_url|jsonify }})
  app({
    quill,
    slug: {{slug|jsonify}},
    title: {{ title|jsonify }},
  })
</script>
{% endblock %}
