<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}EasyPub.io{% endblock %}</title>

    {% block meta %}{% endblock %}

    <link rel="icon" href="data:," />

    {% block css %}
    <link href="{{ static_url_for("static", "base.css") }}" rel="stylesheet" />
    {% endblock %}
  </head>

  <body id="easypub">
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
