html {
  box-sizing: border-box;
  color: #2e3440;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#easypub a {
  color: #2c7cde;
}

#easypub .ql-toolbar {
  background-color: white;
  border: solid #d8dee9;
  border-width: 0 0 1px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#easypub .ql-container {
  font-size: 16px;
  border: none;
}

#easypub .ql-container > .ql-editor {
  margin: 0 auto;
  max-width: 700px;
}

#easypub .ql-container > .ql-editor h1 {
  font-size: 48px;
}

#easypub .ql-container > .ql-editor {
  border: 1px solid #d8dee9;
  padding-top: 60px;
  background-color: white;
}

@media only screen and (min-width: 700px) {
  #easypub .ql-container > .ql-editor {
    border-radius: 0 0 8px 8px;
  }
}

.container {
  padding: 16px;
}

#easypub .container a {
  color: inherit;
}

.panel {
  border-radius: 8px;
  margin: 0 auto;
  max-width: 700px;
  padding: 16px;
}

.panel.panel-default {
  background-color: #eceff4;
  border: 1px solid #e5e9f0;
}

.panel.panel-white {
  background-color: white;
  border: 1px solid #d8dee9;
}

input {
  border: 1px solid #d8dee9;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 4px;
  outline: none;
  padding: 8px;
  width: 100%;
}

input[disabled] {
  cursor: not-allowed;
}

label {
  font-weight: bold;
}

.alert {
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
  line-height: 24px;
}

.alert.alert-danger {
  background-color: #bf616a;
  color: white;
}

.alert.alert-success {
  background-color: #2e3440;
  color: white;
}

button {
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
}

button.primary {
  color: white;
  background-color: #5e81ac;
}

button.danger {
  color: white;
  background-color: #bf616a;
}

.secret {
  text-align: center;
}
